.Drawer {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 80%;
  max-width: 350px;
  padding: 20px 10px;
  box-sizing: border-box;
  background-color: #FFF;
  z-index: 151;
  transform: translateX(0);
  transition: all 220ms ease-in;
}

.Drawer.close {
  transform: translateX(350px);
}
