.SocialIcons a {
  display: inline-block;
  margin: 0 6px;
}

.SocialIcons a i {
  font-size: 20px;
}

.SocialIcons.grey a i {
  color: #828282;
}

.SocialIcons.white a i {
  color: var(--white-color);
}

.SocialIcons a i:hover,
.SocialIcons a i:focus,
.SocialIcons a i:active {
  color: var(--gold-color);
}