.Header {
  width: 100%;
  z-index: 100;
}

.Header .top {
  display: flex;
  background-color: var(--steel-color);
  padding: 10px 20px;
  font-size: 14px;
}

.Header .top > *,
.Header .bottom > *{
  width: 33.33%;
}

.Header .contacts span {
  padding: 0 4px;
}

.Header .contacts i {
  color: #828282;
  margin-right: 4px;
}

.Header .contacts span:not(:last-child) {
  border-right: 1px solid #828282;
}

.Header .promoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header .promo {
  text-align: center;
  margin-right: 8px;
}

.Header .promo span {
  text-decoration: underline;
}

.Header .social {
  text-align: right;
}

.bottom {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--white-color);
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.auth {
  display: flex;
  align-items: center;
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid var(--black-color);
}

.linkIcon {
  color: var(--black-color);
  text-decoration: none;
}

.linkIcon:hover,
.linkIcon:focus,
.linkIcon:active {
  color: var(--gold-color);
}

.linkIcon i {
  color: #828282;
  margin-right: 6px;
}

.linkIcon:hover i,
.linkIcon:focus i,
.linkIcon:active i {
  color: var(--gold-color);
}


.isActive,
.isActive i {
  color: var(--gold-color);
}

.Header.scrolling .bottom {
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
}

.cartBtn {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.cartBtn i {
  color: #828282;
}

.cartBtn:hover i,
.cartBtn:active i,
.cartBtn:focus i {
  color: var(--gold-color);
  cursor: pointer;
}
