.Header {
  width: 100%;
}

.Header .top {
  display: flex;
  background-color: var(--steel-color);
  padding: 10px 20px;
  font-size: 14px;
}

.Header .top > * {
  width: 33.33%;
}

.Header .contacts span {
  padding: 0 4px;
}

.Header .contacts i {
  color: #828282;
  margin-right: 4px;
}

.Header .contacts span:not(:last-child) {
  border-right: 1px solid #828282;
}

.Header .promoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Header .promo {
  text-align: center;
  margin-right: 8px;
}

.Header .promo span {
  text-decoration: underline;
}

.Header .social {
  text-align: right;
}