.ProductBreadcrumbs {
  background-color: var(--breadcrumbs-color);
  width: 100%;
  padding: 10px 40px;
}

.ProductBreadcrumbs {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

.ProductBreadcrumbs li {
  display: inline-block;
  padding-right: 20px;
  position: relative;
  color: #888;
  text-transform: capitalize;
}

.ProductBreadcrumbs li:after {
  content: '\003e';
  position: absolute;
  right: 5px;
  color: var(--black-color);
}

.ProductBreadcrumbs li:last-child:after {
  content: none;
}

.ProductBreadcrumbsLink {
  color: var(--black-color);
  text-decoration: none;
  text-transform: capitalize;
}
