.Breadcrumbs {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

.Breadcrumbs li {
  display: inline-block;
  padding-right: 20px;
  position: relative;
}

.Breadcrumbs li:after {
  content: '\003e';
  position: absolute;
  right: 5px;

}

.Breadcrumbs li:last-child:after {
  content: none;
}

.Breadcrumbs .BreadcrumbsLink {
  color: #888;
  text-decoration: none;
  text-transform: capitalize;
}

.Breadcrumbs .BreadcrumbsLink.Active {
  color: var(--black-color);
  cursor: default;
  pointer-events: none;
}
