.TrendingProducts {
  padding: 60px 0;
  text-align: center;
}

.TrendingProductsContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0 0;
}

.TrendingProductsContainer > div {
  width: 25%;
  padding: 0 20px 20px;
}
