.AdvantagesSection {
  background-color: var(--steel-color);
  padding: 60px 0;
}

.AdvantagesSectionContainer {
  display: flex;
  margin: 0 20px;
}

.AdvantagesItem {
  width: 33.33%;
  border-left: 1px solid lightgray;
  padding: 0 50px;
  text-align: center;
}

.AdvantagesItem:first-child {
  border-left: none;
}

.AdvantagesItem i {
  font-size: 36px;
  color: var(--black-color);
  margin-bottom: 20px;
}

.AdvantagesItem h4 {
  margin-bottom: 20px;
}

.link {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  color: var(--black-color);
}

.link i {
  font-size: 14px;
  margin-left: 10px;
}

.link:hover,
.link:focus,
.link:hover i,
.link:focus i {
  color: var(--gold-color);
}
